html,body{
  width:100%;
  background-color:#1b1b1b;
max-width:300px;
}
.body{
  margin: 0px 0px;
  padding : 0px 0px;

}
.container{

width:1080px;
margin : 0 auto;
}

#bar{
  width:1080px;
}

#topbar{
  width:100%;
height: 46px;
  background-color: rgb(33, 33, 36);
/*  box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.133); */
  color:#fff;
}
.topbar_logo{
  font-style : "Arial";
float:left;
  color:#fff;
  width:106px;
  font-size:20px;
  padding-top:14px;
  font-weight:600;
  padding-left: 40px;
height:50px;
}

.left{
  float:left;
}

.search_bar{
  padding-left: 25px;
  margin-top: -1px;
  width: 386px;
  height: 56px;
  float: left;
}

.search_box{

  height:56px;

}
#search_input {
width: 85%;
float:left;
height:57px;
background-color: #FFF;
border : 0px none;
font-size: 12px;
color:#000;

}
#search_boxing{
  padding-left: 0px;
height: 49px !important;
overflow: hidden;
}
#search_input::-webkit-input-placeholder {
  font-size: 13px;
  font-family: "Roboto";
  color:  #c6c6c6;
}
#search_input::-moz-placeholder {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(189, 189, 189);
  } /* firefox 19+ */
  #search_input:-ms-input-placeholder {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(189, 189, 189);
    } /* ie */
    #search_input input:-moz-placeholder {
      font-size: 16px;
      font-family: "Roboto";
      color: rgb(189, 189, 189);
    }
    :-ms-input-placeholder {
      box-sizing:border-box;
    }

/*    #search_icon{
      position:absolute;top:50%;transform:translateY(-50%);display:inline-block;
      float:left;
      padding:25px;
      background: url('../img/sprite1x.png') no-repeat -29px 5px;
	width: 21px;
	height: 20px;
  margin: 2px 0px 0px 8px;
    }
    */
#random_icon{
  float: left;


  background: url('../img/sprite1x.png') no-repeat -2px -2px;
    padding: 63px;
  width: 60px;
  height: 38px;
  margin: 10px 195px 0px 4px;
  background-size: 330px 330px;
}
#bar{
  height:60px;
}
.login_button{
  margin: 7px 10px 0px 0px;
  height:40px;
  width:100px;
  color:white;
  padding-top:10px;
  height:40px;
  background-color:#6833ff;
}
.signup_button{
  margin: 7px 0px 0px 0px;
  height:40px;
  width:100px;
  padding-top:10px;
  color: white;
  background-color:#313033;
}
/* Body COntent Start */
.category_list{

  color:white;
  font-size:16px;
  font-size: 600;


}
.single_category{
  float:left;
    width:95%;
      border-bottom:5px solid;
      padding-bottom: 7px;
      height:50px;
  padding-top: 14px;
    padding-bottom: 10px;
}
.purple_category{
  color:#0cf;
  border-color:#0cf;
  transition: width 2s;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
.purple_category:hover{
  color:#0cf;
  border-color:#0cf;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/D3Jz70dXQ3D5C/giphy.gif');
}

.red_category{
  color:#0f9;
  border-color:#0f9;
}
.red_category:hover{
  color:#0f9;
  border-color:#0f9;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/D3Jz70dXQ3D5C/giphy.gif');

}
.blue_category:hover{
  color:#93f;
  border-color:#93f;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/D3Jz70dXQ3D5C/giphy.gif');

}
.blue_category{
  color:#93f;
  border-color:#93f;
}
.yellow_category:hover{
  color:#fff35c;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/D3Jz70dXQ3D5C/giphy.gif');

  border-color:#fff35c;
}
.yellow_category{
  color:#fff35c;
  border-color:#fff35c;
}
/* Footer Starts */
.footer{
  height:50px;
    background-color: rgb(33, 33, 36);
    margin-top: 40px;
}

.footer_item{
  float:left;
  color:#c6c6c6;
  padding-top:18px;
  margin :0px 10px;
  font-size:13px;
}
.footer_right{
  float:right;
}
.purple_category{
  color:#0cf;
  border-color:#0cf;
  transition: width 2s;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
.purple_category:hover{
  color:white;
  border-color:white;
  background-size: cover;
  background-image: url('http://i.giphy.com/73WrT6n6yoVfq.gif');
}

.red_category{
  color:#f92c50;
  border-color:#f92c50;
}
.red_category:hover{
  color:white;
  border-color:white;
  background-size: cover;
  background-image: url('http://i.giphy.com/vDQsziDhqRGQE.gif');

}
.blue_category:hover{
  color:white;
  border-color:white;
  background-size: cover;
  background-image: url('http://i.giphy.com/3oEduFUwcCrM4X7ktO.gif');

}
.blue_category{
  color:#fff866;
  border-color:#fff866;
}
.yellow_category:hover{
  color:white;
  border-color:white;
  background-size: cover;
  background-image: url('http://i.giphy.com/l0HlFTrtbbhWlprr2.gif');

}
.yellow_category{
  color:#9a66ff;
  border-color:#9a66ff;

}
.tooltip {
    position: relative;
    display: inline-block;
   }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.scroll{
  display:inline-block;
}