body{
  background-color: rgba(0,0,0,00); !important;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background-color: #00114a;
  background-size: cover;
  transition: 1s opacity;
}
#name,#email,#password{
    max-width: 95%;
}
.logo{
  font-style : "Arial";

  color:#fff;
  width:106px;
  font-size:34px;

  font-weight:600;

height:50px;
}
.facebook_login{
  height:60px;
  width:400px;
  max-width: 95%;
  background-color: #3472ff;
  margin-top: 20px;
  color: white;
  font-size: 16px;
padding-top: 19px;
}

.button{
  height:60px;
  width:400px;
    max-width: 95%;
  background-color: #2eb6fa;
  margin-top: 20px;
  color: white;
  font-size: 16px;
padding-top: 19px;
}

.or{
  font-size:12px;
  color:grey;
  margin-top:15px;
  margin-bottom: 15px;

}
.no_account{
  font-size: 12px;
  color:#D6D6D6;

}

.join_tapnar{
  padding-left: 6px;
  font-size: 14px;
  color:white;

}

.forgot_password{
  font-size: 14px;
  color:white;

}
a{
  color:white;
}

#facebook_connect{
cursor:pointer;
}
#email_connect{
  cursor:pointer;
}

.main_image_body{
    margin-top:48px !important;

}
.logo_image{
  display: none;
}
