body{
  background-color: rgba(0,0,0,00); !important;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background-color: #00114a;
  background-size: cover;
  transition: 1s opacity;
}
#link{
    max-width: 95%;
}
.upload_text{
  font-family: Arial;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  width: 147px;
  font-size: 34px;
  font-weight: 800;
  height: 50px;
  margin-top: 43px;
}
.upload_button{
  height:60px;
  width:400px;
  max-width: 95%;
  background-color: #3472ff;
  margin-top: 48px;
  color: white;
  font-size: 16px;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
}
.upload_device_text{
  color:white;
}
.button{
  height:60px;
  width:400px;
    max-width: 95%;
  background-color: #2eb6fa;
  margin-top: 20px;
  color: white;
  font-size: 16px;
padding-top: 19px;
}

.or{
  font-size: 13px;
  color: #fbfbfb;
  margin-top: 22px;
  margin-bottom: 15px;
}
.no_account{
  font-size: 12px;
  color:#D6D6D6;

}

.upload_reminder{
  padding-left: 6px;
  font-size: 14px;
  color:white;

}


a{
  color:white;
}

#facebook_connect{
cursor:pointer;
}
#email_connect{
  cursor:pointer;
}

.main_image_body{
    margin-top:48px !important;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff;
    background-image: none;
    color: rgb(0, 0, 0);
}

.reminder_bar{
  margin-top:20px;
  bottom:20px;
  position:absolute;
  width:92%;
  color:#fff;
}
.link_box{
  font-weight: 600;
  width:400px;
  height:60px;
  padding:15px;
  max-width: 95%;
  text-align: center;
  margin-top:10px;
  border: none !important;
}
